{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "calc/css/base.css" %}">
    <link rel="stylesheet" href="{% static "calc/css/style.css" %}">
    <link rel="stylesheet" href="{% static "calc/css/form.css" %}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><a href="" class="logo">IMCalc</a></h1>
    </header>
    <main>
        {% block main %}
        
        {% endblock main %}
    </main>
    <footer>
        <div class="footer">
            <h1><a href="" class="logo">IMCalc</a></h1>
        </div>
    </footer>
    <script src="{% static "calc/js/form.js" %}"></script>
</body>
</html>