.inputForm, .form{
    display: flex;
    flex-direction: column;
}
.form{
    align-items: center;
}
#peso, #altura{
    width: 300px;
    height: 32px;
    border-style: none;
    border-radius: 8px;
    background-color: rgb(155, 155, 253);
}
.textForm{
    font-size: 20px;
    color: rgb(32, 30, 36);
    text-align: justify;
    margin: 12px;
}
#iconReturn{
    width: 28px;
    height: 20px;
    margin-right: 10px;
}
span{
    color: rgb(0, 33, 95);
    font-weight: bold;
}
.imcInfo{
    font-size: 20px;
    color: rgb(32, 30, 36);
    text-align: justify;
    margin: 12px;
}
.labelIMC{
    font-size: 18px;
    font-weight: bold;
    color: rgb(32, 30, 36);
    margin: 8px;
}
